1 24 VSNotes.manifest
TBMAIN BITMAP "TBMain.bmp"
TBNAVI BITMAP "TBNavi.bmp"
TBTEXTEDITOR BITMAP "TVNodes.bmp"
TBIMAGESEDITOR BITMAP "TVNodes.bmp"
TBSTREAMSEDITOR BITMAP "TBStreamsEditor.bmp"
TVNODES BITMAP "TVNodes.bmp"